.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20;
  gap: 16px;

  .filter-opt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 8px
  }

  button {
    border-radius: 4px;
    box-shadow: none;
    background: #9867c5;
    color: white;
  }
}

mat-form-field {
  width: 200px;
}
